# task 1

In [24]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [25]:
df = pd.read_excel('data.xlsx')
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [26]:
mean_Weight = df['Weight'].mean()
mean_Price = df['Price'].mean()

print(mean_Weight)
print(mean_Price)

4.571428571428571
47.142857142857146

In [32]:
numerator_m = ((df['Weight'] - mean_Weight) * (df['Price'] - mean_Price)).sum()

print(numerator_m)

denominator_m = ((df['Weight'] - mean_Weight)**2).sum()

print(denominator_m)

slope_m = numerator_m / denominator_m

print(slope_m)

46.42857142857143
17.714285714285715
2.620967741935484

In [5]:
intercept_c = mean_Price - (slope_m * mean_Weight)

print(intercept_c)

35.16129032258065

In [6]:
Weight_predict = 6
Price_predict = (slope_m * Weight_predict) + intercept_c

print(Price_predict )

50.88709677419355

# task 2

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
reg = LinearRegression()

In [10]:
x = df['Weight'] 
y = df['Price']

In [11]:
reg.fit(df[['Weight']], y)

LinearRegression()

In [12]:
reg.coef_

array([2.62096774])

In [13]:
reg.intercept_

35.16129032258065

In [14]:
m = reg.coef_
c = reg.intercept_

In [15]:
reg.predict(df[['Weight']])

array([40.40322581, 45.64516129, 48.26612903, 43.02419355, 50.88709677,
       48.26612903, 53.50806452])

In [16]:
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [17]:
df['predicted_Price'] = reg.predict(df[['Weight']])
df.head()

   Weight  Price  predicted_Price
0       2     35        40.403226
1       4     60        45.645161
2       5     20        48.266129
3       3     50        43.024194
4       6     50        50.887097

In [18]:
df['residuals'] = df['Price'] - df['predicted_Price']

In [19]:
df.head()

   Weight  Price  predicted_Price  residuals
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097

# task 3

In [20]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

mse = mean_squared_error(df['Price'], df['predicted_Price'])

In [21]:
mse

167.30990783410135

In [22]:
mae = mean_absolute_error(df['Price'], df['predicted_Price'])

In [23]:
mae

9.87327188940092